///*------------------------------------*\
//    #BOOTSTRAP
//\*------------------------------------*/


// Overrides Twitter Bootstrap variables.
//
// These settings can be found within Bootstrap node module:
// node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss


// Colors.
$brand-primary: $color-brand-alpha;


// Typography.
$font-family-base: $base-font-family;
$headings-color: $color-brand-alpha;
$headings-font-weight: $ft-light;


// Jumbotron
$jumbotron-bg: $brand-primary;
$jumbotron-color: $color-white;


// Buttons
$btn-font-weight: $ft-light;
$btn-primary-color: $color-white;
$btn-primary-border: $color-white;
$btn-primary-bg: transparent;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
