///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/


// Brand
$color-brand-alpha: #c5253e;
$color-brand-beta:  #191919;


// Greyscale
$color-white: #ffffff;
