/*------------------------------------*\
   #BANNER
\*------------------------------------*/


.banner {
    position: relative;
    color: white;
    min-height: 100vh;
    padding: 300px 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;

    .fa {
        width: 100%;
        text-align: center;
        left: 0;
        position: absolute;
        bottom: 48px;
        color: $color-white;
    }
}

.banner__content {
    @extend .text-center;
    position: relative;
    color: $color-white;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 12px;
    margin-bottom: 24px;
    max-width: 520px;

    h1 {
        @extend .text-center;
        color: $color-white;
    }

    p {
        font-weight: $ft-light;
        font-size: 16px;
        line-height: 1.5;

        @media (min-width: 700px) {
            font-size: 20px;
        }
    }

    strong {
        font-weight: $ft-normal;
    }
}

.banner__logo {
    max-width: 280px;
    margin: 0 auto 24px auto;
}


.section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    .fa {
        width: 100%;
        text-align: center;
        left: 0;
        position: absolute;
        bottom: 48px;
    }
}

.section__title {
    font-size: 2.8em;
    color: #000000;
    margin-bottom: 36px;

    &:after {
        display: block;
        font-weight: $ft-light;
        color: #cccccc;
        content: "_";
    }
}

.section__content {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;

    .lead {
        font-size: 18px;
        line-height: 1.5;
    }
}


.jumbotron {
    margin-bottom: 0;

    .btn {
        margin-bottom: 12px;
    }
}

.checkbox {
    label {
        margin-bottom: 24px;
        font-weight: $ft-light;
    }

    input {
        top: 2px;
        margin-right: 6px;
    }

}
